<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">查几大量</h4>
        </div>
        <div class="modal-body">
            <table class="table">
                <tr>
                    <th>预计销售量</th>
                    <th>计划销售量</th>
                    <th>预计生产量</th>
                    <th>预计进货量</th>
                    <th>预计领用量</th>
                </tr>
                <tr>
                    <td>@(ViewBag.sumCOPTD.ToString("0.000"))</td>
                    <td>@(ViewBag.sumCOPMF.ToString("0.000"))</td>
                    <td>@(ViewBag.sumMOCTA.ToString("0.000"))</td>
                    <td>@(ViewBag.sumPURTD.ToString("0.000"))</td>
                    <td>@(ViewBag.sumMOCTB.ToString("0.000"))</td>
                </tr>
                <tr></tr>
            </table>
        </div>
        <div class="modal-footer">
            <div><button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button></div>
        </div>
    </div>
</div>